﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/Site.Master" AutoEventWireup="true"
    CodeBehind="UserManagement.aspx.cs" Inherits="TransportService.pages.UserManagement" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Form User Management
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="datagrid" style="width: 100%">
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <br />
                                                <asp:ScriptManager ID="ScriptManager1" runat="server">
                                                </asp:ScriptManager>
                                                <asp:Label ID="lblSearch" runat="server" Text=" Search : "></asp:Label>
                                                <asp:TextBox ID="txtSearch" runat="server" Style="margin-left: 9px; margin-top: 0px"
                                                    Width="150px" CssClass="tb5" placeholder="Find By User ID Here"></asp:TextBox>
                                                <asp:Button ID="btnSearch" runat="server" Text="Search" Style="margin-left: 9px;
                                                    margin-top: 0px" CssClass="myButton" OnClick="btnSearch_Click"></asp:Button>
                                                <asp:Button ID="btnNew" runat="server" Text="Add New" CssClass="myButton" OnClick="btnNew_Click" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="datagrid" style="width: 100%">
                                    <table style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    User ID
                                                </th>
                                               <%-- <th>
                                                    Username
                                                </th>--%>
                                                <th>
                                                    Password
                                                </th>
                                                <th>
                                                    Branch ID
                                                </th>
                                                <th>
                                                    Role ID
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <asp:Repeater ID="RptUserlist" runat="server" OnItemCommand="RptUserlist_ItemCommand">
                                                <ItemTemplate>
                                                    <tr>
                                                        <td>
                                                            <asp:LinkButton ID="lnkUserID" runat="server" Enabled='<%# Eval("Role") %>' Text='<%# Eval("UserID") %>' CommandName="Link"></asp:LinkButton>
                                                        </td>
                                                        <%--<td>
                                                            <%# Eval("UserID")%>
                                                        </td>--%>
                                                        <td>
                                                            <%# Eval("Password") %>
                                                        </td>
                                                        <td>
                                                            <%# Eval("BranchID").ToString().Replace("'","")%>
                                                        </td>
                                                        <td>
                                                            <%# Eval("RoleID") %>
                                                        </td>
                                                        <td>
                                                            <asp:LinkButton ID="lnkDelete" Text="Delete" Visible='<%# Eval("Role") %>' OnClientClick="return confirm('Are you sure you want to delete this User?');"
                                                                runat="server" CommandName="Delete" />
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </ItemTemplate>
                                            </asp:Repeater>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <div id="paging">
                                                        <ul>
                                                            <li>
                                                                <asp:LinkButton ID="lnkPrevious" runat="server" OnClick="lnkPrevious_Click"><span>Previous</span></asp:LinkButton></li>
                                                            <asp:Repeater ID="rptPaging" runat="server" OnItemCommand="rptPaging_ItemCommand">
                                                                <ItemTemplate>
                                                                    <li>
                                                                        <asp:LinkButton ID="btnPage" CommandName="Page" CommandArgument="<%# Container.DataItem %>"
                                                                            runat="server"><span><%# Container.DataItem %></span></asp:LinkButton>
                                                                    </li>
                                                                </ItemTemplate>
                                                            </asp:Repeater>
                                                            <li>
                                                                <asp:LinkButton ID="lnkNext" runat="server" OnClick="lnkNext_Click"><span>Next</span></asp:LinkButton></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                        <br />
                            <asp:Panel ID="PanelFormUser" runat="server" ScrollBars="Vertical" Width="1000px">
                                <div>
                                    <fieldset>
                                        <legend>Form Manage User</legend>
                                        <p>
                                            <asp:Label ID="lblUserID" runat="server" Text="User ID"></asp:Label><br />
                                            <asp:TextBox ID="txtUserID" runat="server" Width="400px" CssClass="tb5" TextMode="Search"></asp:TextBox>
                                            <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtUserID" ValidationGroup="valUser" ForeColor="#FF3300" SetFocusOnError="True"></asp:RequiredFieldValidator>
                                        </p>
                                        <p style="display:none;">
                                            <asp:Label ID="lblUsername" runat="server" Text="Username"></asp:Label><br />
                                            <asp:TextBox ID="txtUsername" runat="server" Width="400px" CssClass="tb5"></asp:TextBox>
                                            <%--<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtUsername" ValidationGroup="valUser" ForeColor="#FF3300" SetFocusOnError="True"></asp:RequiredFieldValidator>--%>
                                        </p>
                                        
                                        <p>
                                            <asp:Label ID="lblBranchID" runat="server" Text="Branch ID"></asp:Label><br />
                                            <asp:TextBox ID="txtBranchID" runat="server" Width="150px" CssClass="tb5" TextMode="Search" Visible=false></asp:TextBox>

  <%--                                          <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtBranchID" ValidationGroup="valUser" ForeColor="#FF3300"
                                                SetFocusOnError="True"></asp:RequiredFieldValidator>--%>
                                            <asp:Button ID="btnShowBranch" runat="server" Text="Show Branch" Style="margin-left: 0px;
                                                margin-top: 0px" OnClick="btnShowBranch_Click" CssClass="btn btn-sm"></asp:Button>
                                                <asp:Label ID="lblValblBranch" runat="server" style="color:Red;" visible="false"></asp:Label> <%-- fernandes --%>
                                            <asp:TextBox ID="txtSearchBranch" runat="server" Style="margin-left: 9px; margin-top: 0px"
                                                Width="150px" CssClass="tb5" placeholder="Branch Name.." TextMode="Search" visible=false></asp:TextBox>
                                            <asp:Button ID="btnSearchBranch" runat="server" Text="Search Branch Name" Style="margin-left: 9px;
                                                margin-top: 0px"  CssClass="btn btn-sm" onclick="btnSearchBranch_Click" Visible=false></asp:Button>
                                            <asp:Button ID="btnCancelBranch" runat="server" Text="Cancel" Style="margin-left: 2px;
                                                margin-top: 0px;" OnClick="btnCancelBranch_Click" CssClass="btn btn-sm"></asp:Button>
                                                
                                                <asp:CheckBox ID="CBAllAccess" runat="server" Text=" All Access" 
                                                oncheckedchanged="CBAllAccess_CheckedChanged" AutoPostBack="True" 
                                                EnableViewState="True"></asp:CheckBox>
                                        </p>
                                        <asp:Panel ID="PanelBranch" runat="server" Width="30%" Height="200px" ScrollBars="Vertical"
                                            CssClass="datagrid">
                                            <%--panel sebelumnya dengan model tabel--%>
                                            <%--<table style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Branch ID
                                                        </th>
                                                        <th>
                                                            Branch Name
                                                        </th>
                                                        <th>
                                                            Branch Description
                                                        </th>
                                                        <th>
                                                            Company ID
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <asp:Repeater ID="RptBranchlist" runat="server" OnItemCommand="rptBranch_ItemCommand">
                                                        <ItemTemplate>
                                                            <tr>
                                                                <td>
                                                                    <asp:LinkButton ID="lnkBranchId" runat="server" CommandName="Link" Text='<%# Eval("BranchID") %>'></asp:LinkButton>
                                                                </td>
                                                                <td>
                                                                    <%# Eval("BranchName") %>
                                                                </td>
                                                                <td>
                                                                    <%# Eval("BranchDescription") %>
                                                                </td>
                                                                <td>
                                                                    <%# Eval("CompanyID") %>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </ItemTemplate>
                                                    </asp:Repeater>
                                                </tbody>
                                            </table>--%>

                                            <%--panel setelah request dengan checkbox--%>
                                            <asp:CheckBoxList ID="blBranch" runat="server">
                                            </asp:CheckBoxList>
                                        </asp:Panel>
                                        <p>
                                            <asp:Label ID="lblPassword" runat="server" Text="Password"></asp:Label><br />
                                            <asp:TextBox ID="txtPassword" runat="server" Width="400px" CssClass="tb5" 
                                                TextMode="Password"></asp:TextBox>
                                                <asp:Label ID="lblvalPassword" runat="server" Text="* Password Tidak Sama" ForeColor="Red" Visible="False"></asp:Label>
                                            <%--<asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtPassword" ValidationGroup="valUser" ForeColor="#FF3300" SetFocusOnError="True"></asp:RequiredFieldValidator>--%>
                                        </p>  
                                        <p>
                                            <asp:Label ID="lblRePassword" runat="server" Text="Re-Password"></asp:Label><br />
                                            <asp:TextBox ID="txtRePassword" runat="server" Width="400px" CssClass="tb5" 
                                                TextMode="Password"></asp:TextBox>
                                            <%--<asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtRePassword" ValidationGroup="valUser" ForeColor="#FF3300" SetFocusOnError="True"></asp:RequiredFieldValidator>--%>
                                        </p>      
                                        <p>
                                            <asp:Label ID="lblRoleID" runat="server" Text="Role ID"></asp:Label><br />
                                            <asp:DropDownList ID="ddlRoleID" runat="server" Width="400px" Height="30px"></asp:DropDownList>
                                            <%--<asp:RequiredFieldValidator ID="RequiredFieldValidator8" runat="server" ErrorMessage="*"
                                                ControlToValidate="txtRoleID" ValidationGroup="valUser" ForeColor="#FF3300"
                                                SetFocusOnError="True"></asp:RequiredFieldValidator>--%>
                                        </p>
                                        <p>
                                            <asp:Button ID="btnUpdate" runat="server" Text="Update" CssClass="myButton" OnClick="btnUpdate_Click"
                                                ValidationGroup="valUser" />
                                            <asp:Button ID="btnInsert" runat="server" Text="Insert" CssClass="myButton" OnClick="btnInsert_Click"
                                                ValidationGroup="valUser" />
                                            <asp:Button ID="btnCancel" runat="server" Text="Cancel" CssClass="myButton" OnClick="btnCancel_Click" />
                                        </p>
                                    </fieldset>
                                </div>
                            </asp:Panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentJS" runat="server">
</asp:Content>
